<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>
<body class="container" style="background-color: black">
<div class="small-container">
    <h1><span style="color: lightgray">Result: </span><span style="color: mediumspringgreen">{{ result }}</span></h1>
    <hr>

    <form method="POST">
        {% csrf_token %}
        <div class="row">
            <input value="{{ request.POST.num1 }}" name="num1" type="number" placeholder="Enter a number">
            <input value="{{ request.POST.num2 }}" name="num2" type="number" placeholder="Enter another number">
            <input value="{{ request.POST.op }}" name="op" type="text" placeholder="Enter an operator">
            <button class="text-success" type="submit">calculate</button>

        </div>
    </form>
</div>
</body>

</html>